<%= render :partial => 'shared/notifications' %>

<h1>User sign in:</h1>
<form action='/sessions' method='post'>
  <span>
    <label for='name'>login: </label>
    <input name='login' type='text'/>
  </span>
  <br/>
  <span>
    <label for='name'>password: </label>
    <input name='password'  type='password' />
  </span>
  <br/>
  <input type='submit' value='sign in'/>
</form>


<%= link_to "register", :controller => 'users', :action => 'new' %>