<h1>Log in:</h1>
<form action='/sessions' method='post'>
  <span>
    <label for='name'>Login: </label>
    <input name='login' type='text'/>
  </span>
  <br/>
  <span>
    <label for='name'>Password: </label>
    <input name='password'  type='password' />
  </span>
  <br/>
  <input type='submit' value='Log in'/>
</form>


New to the awesome blog? <%= link_to "Sign up!", :controller => 'users', :action => 'new' %>
