<h1>New Blog:</h1>
<form action='/blogs' method='post'>
  <span>
    <label for='name'>Title: </label>
    <input name='title' type='text' size='60' />
  </span>
  <br/>
  <span>
    <label for='name'>Description: </label>
    <textarea name='description' cols='60' rows='4'></textarea>
  </span>
  <br/>
  <input type='submit' value='create'/>
</form>
