<h1>Sign up:</h1>
<form action='/users' method='post'>
  <span>
    <label for='name'>Login: </label>
    <input name='login' type='text'/>
  </span>
  <br/>
  <span>
    <label for='name'>Password: </label>
    <input name='password'  type='password' />
  </span>
  <br/>
  <span>
    <label for='name'>Password confirmation: </label>
    <input name='password_confirmation' type='password' />
  </span>
  <br/>
  <span>
    <label for='name'>Name: </label>
    <input name='name'  type='text' />
  </span>
  <br/>
  <span>
    <label for='name'>Email: </label>
    <input name='email'  type='text'/>
  </span>
  <br/>
  <input type='submit' value='Sign me up'/>
</form>
