<h1>Edit Post: <%= @post.get(:title) %></h1>
<form action='blogs/<%= @blog.get(:id) %>/posts/update/<%= @post.get(:id) %>' method='post'>
  <span>
    <label for='name'>Description: </label>
    <textarea name='description' cols='50' rows='20'><%= @post.get(:content) %></textarea>
  </span>
  <br/>
  <input type='submit' value='update'/>
</form>
